.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.header-row {
    display: flex;
    justify-content: space-between;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
}

.comment-area{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.input-group {
    margin-top: 70px;
}

.area-button {
    width: 100px;
}

